{{> menu active="historical-data"}}

<h1>Your Historical Data</h1>

<canvas id="chart"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script> <!-- Add the date adapter -->
<script>
  const ctx = document.getElementById('chart').getContext('2d');

  const data = {
    labels: [
      {{#each chartData.trendLabels}}
      "{{this}}",
      {{/each}}
    ],
    datasets: [
      {
        label: 'Temperature',
        yAxisID: 'Temperature',
        data: [
          {{#each chartData.tempTrend}}
          {{this}},
          {{/each}}
        ],
        borderColor: 'red',
        backgroundColor: 'transparent',
      },
      {
        label: 'Air Quality',
        yAxisID: 'Air Quality',
        data: [
          {{#each chartData.airQualityTrend}}
          {{this}},
          {{/each}}
        ],
        borderColor: 'blue',
        backgroundColor: 'transparent',
      },
      {
        label: 'Humidity',
        yAxisID: 'Humidity',
        data: [
          {{#each chartData.humidityTrend}}
          {{this}},
          {{/each}}
        ],
        borderColor: 'green',
        backgroundColor: 'transparent',
      },
      {
        label: 'Ambient Light',
        yAxisID: 'Ambient Light',
        data: [
          {{#each chartData.ambientLightTrend}}
          {{this}},
          {{/each}}
        ],
        borderColor: 'orange',
        backgroundColor: 'transparent',
      },
            {
        label: 'Moisture',
        yAxisID: 'Moisture',
        data: [
          {{#each chartData.moistureTrend}}
          {{this}},
          {{/each}}
        ],
        borderColor: 'purple',
        backgroundColor: 'transparent',
      },
    ]
  };

  const options = {
    scales: {
      x: {
        type: 'time',
        time: {
          unit: 'second',
        },
        title: {
          display: true,
          text: 'Time',
        },
      },
       y: {
        Temperature: {
          type: 'linear',
          position: 'left',
          scaleLabel: {
            display: true,
            labelString: 'Temperature (°C)', // Title for the Temperature axis
          },
        },
        'Air Quality': {
          type: 'linear',
          position: 'right',
          scaleLabel: {
            display: true,
            labelString: 'Air Quality',
          },
        },
        Humidity: {
          type: 'linear',
          position: 'right',
          scaleLabel: {
            display: true,
            labelString: 'Humidity (%)',
          },
        },
        'Ambient Light': {
          type: 'linear',
          position: 'right',
          scaleLabel: {
            display: true,
            labelString: 'Ambient Light',
          },
        },
                Moisture: {
          type: 'linear',
          position: 'left',
          scaleLabel: {
            display: true,
            labelString: 'Moisture (A.U.)', 
          },
        },
      },
    },
  };

  const chart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: options,
  });
</script>
